<!DOCTYPE html>
<html>
<head>
  <title>Qicaisheng</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
	<%= link_to "qicaisheng", '/', id: "logo" %>
	<nav>
	  <ul class="nav navbar-nav navbar-right">
	    <li><%= link_to "Coder",   '/coder' %></li>
	    <li><%= link_to "Walker",   '/walker' %></li>
	    <li><%= link_to "Thinker", '/thinker' %></li>
	  </ul>
	</nav>
	</div>
  </header>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
